<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Vendi - Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login" padding>
  <ion-list>
    <form [ngFormModel]="loginFormCtrl" (ngSubmit)="login()">
      <ion-item [class.error]="!userNameCtrl.valid && userNameCtrl.touched">
        <ion-input [ngFormControl]="userNameCtrl" placeholder="PhoneNumber" clearInput [(ngModel)]=username></ion-input>
        <ion-label *ngIf="!userNameCtrl.valid && userNameCtrl.touched" danger>User name required</ion-label>
      </ion-item>
      <ion-item [class.error]="!passwordCtrl.valid && passwordCtrl.touched">
        <ion-input type=password [ngFormControl]="passwordCtrl" placeholder="Password" clearInput [(ngModel)]=password></ion-input>
        <ion-label *ngIf="!passwordCtrl.valid && passwordCtrl.touched" danger>Password required</ion-label>
      </ion-item>
      <button type="submit" block primary [disabled]="!loginFormCtrl.valid">Login</button>
    </form>
  </ion-list>
  <button clear>Forgot Password</button>
  <button clear (click)=signup()>Sign Up</button>
</ion-content>
